<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Тестовое задание BeeJee Эдуард Коршун" />
    <meta charset="utf-8">
    <title>BeeJee - Эдуард Коршун</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Эдуард Коршун">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/ed_style.css">
</head>
<body>
    <div class="container-fluid enp">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark bg-dark">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <? if ($_SERVER['REQUEST_URI'] == "/"): ?>
                                <li class='nav-item active'><a class="nav-link" href='#'>Список задач</a></li>
                            <? else: ?>
                                <li class='nav-item'><a class="nav-link" href='/'>Список задач</a></li>
                            <? endif; ?>
                            <? if (!isset($_SESSION['adminid']) OR !$_SESSION['adminid']): ?>
                                <? if ($_SERVER['REQUEST_URI'] == "/?action=login"): ?>
                                    <li class='nav-item active'><a class="nav-link" href='#'>Авторизация</a></li>
                                <? else: ?>
                                    <li class='nav-item'><a class="nav-link" href='/?action=login'>Авторизация</a></li>
                                <? endif; ?>
                            <? else: ?>
                                <li style="color:#dfdfdf;padding: 0px;" class="nav-item ed-nav-logout">Вы вошли как: <span><?=$_SESSION['adminlogin']?></span><button type="button" class="btn btn-primary"><a href='/?action=logout'>Выйти</a></button></li>
                            <? endif; ?>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <?=$this->content;?>
                </div>
            </div>
        </div>
        <footer class="bg-dark">
            <p style="text-align: center;">&copy; <?=date('Y')?> Эдуард Коршун.<? if ($_SERVER['REQUEST_URI'] != "/?action=about"): ?> <a href="/?action=about" style="font-weight:600;color: #ffb75f;" target="_blank">Условия тестовой задачи...</a><? endif; ?></p>
        </footer>
    </div>
    <script src="/js/jquery-3.5.0.min.js"></script>
    <script src="/js/select2.min.js"></script>
    <script src="/js/bs/bootstrap.js"></script>
    <script src="/js/dt/jquery.dataTables.min.js"></script>
    <script src="/js/dt/dataTables.bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
