<h1>Тестовое задание</h1>
<div class="row" style="margin-top:40px;">
    <div class="col-md-12">
        <p>Как договаривались, отправляю Вам тестовое задание. Пожалуйста, подтвердите, что Вы получили это письмо.</p>
        <p><br></p>
        <p>Обратите внимание, что по условию проверки тестового задания, если один из пунктов функционала не будет работать, мы не сможем отправить его в технический отдел на проверку кода. Для нас важно, чтобы разработчики не выходили за рамки предоставленных требований и проводили тестирование выполненной работы.</p>
        <p>Необходимо создать приложение-задачник.</p>
        <p>Задачи состоят из:</p>
        <p>- имени пользователя;</p>
        <p>- е-mail;</p>
        <p>- текста задачи;</p>
        <p><br></p>
        <p>Стартовая страница - список задач с возможностью сортировки по имени пользователя, email и статусу. Вывод задач нужно сделать страницами по 3 штуки (с пагинацией). Видеть список задач и создавать новые может любой посетитель без авторизации.</p>
        <p><br></p>
        <p>Сделайте вход для администратора (логин &quot;admin&quot;, пароль &quot;123&quot;). Администратор имеет возможность редактировать текст задачи и поставить галочку о выполнении. Выполненные задачи в общем списке выводятся с соответствующей отметкой.</p>
        <p><br></p>
        <p>В приложении нужно с помощью чистого PHP реализовать модель MVC. Фреймворки PHP использовать нельзя, библиотеки - можно. Этому приложению не нужна сложная архитектура, решите поставленные задачи минимально необходимым количеством кода. Верстка на bootstrap, к дизайну особых требований нет.</p>
        <p><br></p>
        <p>Результат нужно развернуть на любом бесплатном хостинге (например - zzz.com.ua), чтобы можно было посмотреть его в действии. Код можно выложить на github или bitbucket.</p>
        <p><br></p>
        <p>Будем ждать от Вас сообщение с результатом работы. Укажите, пожалуйста, в своём письме общее количество потраченного времени.</p>
        <p><br></p>
        <p>По окончанию выполнения ждем от Вас две ссылки: на репозиторий, где выложен код и на рабочее тестовое задание.</p>
        <p><br></p>
        <p>Если Вы не смогли выполнить тестовое по любым причинам, пожалуйста, сообщите нам. Будем ждать Вашего ответа в любом случае.</p>
        <p><br></p>
        <p>Для Вашего удобства предоставляю протокол тестирования, по которому проверяется тестовое задание.</p>
        <p>1) Перейти на стартовую страницу приложения. Должен отобразиться список задач. В списке присутствуют поля: имя пользователя, email, текст задачи, статус. Не должно быть опечаток. Зазоры должны быть ровные. Ничего не ползет. Должна быть возможность создания новой задачи. Должна быть кнопка для авторизации.</p>
        <p>2) Не заполнять поля для новой задачи. Сохранить задачу. Должны вывестись ошибки валидации. Ввести в поле email &ldquo;test&rdquo;. Должна вывестись ошибка, что email не валиден.</p>
        <p>3) Создать задачку с корректными данными (имя &ldquo;test&rdquo;, email &ldquo;test@test.com&rdquo;, текст &ldquo;test job&rdquo;). Задача должна отобразиться в списке задач. Данные должны быть ровно те, что были введены в поле формы. После создания задачи должно вывестись оповещение об успехе добавления (обратная связь).</p>
        <p>4) Для проверки XSS уязвимости нужно создать задачу с тегами в описании задачи (добавить в поле описания задачи текст &lt;script&gt;alert(&lsquo;test&rsquo;);&lt;/script&gt;, заполнить остальные поля). Задача должна отобразиться в списке задач, при этом не должен всплыть alert c текстом &lsquo;test&rsquo;.</p>
        <p>5) Создать еще 2 задачи. Должна появиться новая страница в пагинации.</p>
        <p>6) Отсортировать список по полю &ldquo;имя пользователя&rdquo; по возрастанию. Список должен пересортироваться. Перейти на последнюю страницу в пагинации. Сортировка не должна сбиться, задачи с последней страницы должны быть отображены. Далее отсортировать по тому же полю, но по убыванию. Перейти на первую страницу. Имя пользователя, которое было последним в списке, должно стать первым. Проделать этот тест для полей &ldquo;email&rdquo; и &ldquo;статус&rdquo;.</p>
        <p>7) Перейти на страницу авторизации пользователя. Попробовать залогиниться с пустыми полями. Должна вывестись ошибка, что поля обязательны для заполнения или, что введенные данные не верные. Ввести в поле для имени пользователя &ldquo;admin1&rdquo;, в поле для пароля &ldquo;321&rdquo;. Должна вывестись ошибка о неправильных реквизитах доступа. Админский доступ не должен быть предоставлен. Ввести данные &ldquo;admin&rdquo; в поле для имени и &ldquo;123&rdquo; в поле для пароля. Авторизация должна пройти успешно. Должна отобразиться кнопка для выхода из профиля админа.</p>
        <p>8) Для созданной задачи проставить отметку &ldquo;выполнено&rdquo;. Перезагрузить страницу.</p>
        <p>Отредактировать текст задачи. Сохранить и перезагрузить страницу. Текст задачи должен быть тот, который ввели при редактировании. В общем списке задача должна отображаться уже с двумя отметками: &quot;выполнено&quot; и &ldquo;отредактировано администратором&rdquo;. Отметка &ldquo;отредактировано администратором&rdquo; должна появляться только в случае изменения текста в теле задачи.</p>
        <p>9) В общем списке задача должна отображаться со статусом задачи &ldquo;выполнено&rdquo;.</p>
        <p>10) Открыть параллельно приложение в новой вкладке. Разлогиниться в новой вкладке. В этой вкладке не должно быть возможности редактировать задачу. Вернуться в предыдущую вкладку. Отредактировать задачу и сохранить. Отредактированная задача не должна быть сохранена. Приложение должно запросить авторизацию.</p>
        <p><br></p>
        <p>Успешного выполнения!</p>
        <p><br></p>
    </div>
</div>
<style>
    footer {
        display:none;
    }
</style>