<div class="ed-title-wrapper">
    <h1>Авторизация</h1>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <? if (isset($_COOKIE['auth_error'])): ?>
            <? unset($_COOKIE['auth_error']); ?>
            <div class="ed-error-wrapper">
                <span>Неверный логин или пароль</span>
            </div>
        <? endif; ?>
        <form class="form-horizontal" action="/?action=loginsubmitted" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="login">Логин:</label>
                <div class="col-sm-10">
                    <input type="login" class="form-control" id="login" name="login" placeholder="Введите логин">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Пароль:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </div>
        </form>
    </div>
</div>