<div class="ed-title-wrapper">
    <h1>Список задач</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <button title="Добавить задачу" data-ed="adm-action" class="btn btn-primary" data-upd="addtask" data-toggle="modal" data-target="#taskAddModal">Добавить задачу</button>
    </div>
</div>
<div class="row ed-task-table-wrapper">
            <div class="ed-loader ed-loader-table" data-ed="ed-loader">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Подождите...</span>
                </div>
            </div>
        <table id="ed-task-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Имя</th>
                    <th>Email</th>
                    <th>Описание задачи</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
            
            </tbody>
        </table>
</div>
<div class="modal fade" id="taskEditModal" tabindex="-1" role="dialog" aria-labelledby="taskEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskEditModalLabel">Редактирование описания задачи</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea rows="7" data-ed="taskdescedit" class="taskdescedit form-control"></textarea>
                    <div class="ed-m-err" data-ed="ed-m-err-desc"><span>Описание задачи не может быть пустым</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-ed="submtaskdescedit">Сохранить</button>
            </div>
            <div class="ed-loader" data-ed="ed-loader">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Подождите...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="taskAddModal" tabindex="-1" role="dialog" aria-labelledby="taskAddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskEditModalLabel">Добавить задачу</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="task-user">Пользователь</label>
                    <input required type="text" class="form-control" placeholder="Введите имя" id="task-user" name="task-user">
                    <div class="ed-m-err" data-ed="ed-m-err-name"><span>Пожалуйста, введите Ваше имя</span></div>
                </div>
                <div class="form-group">
                    <label for="task-email">Email</label>
                    <input required type="text" class="form-control" placeholder="Введите email" id="task-email" name="task-email">
                    <div class="ed-m-err" data-ed="ed-m-err-email"><span>Пожалуйста, введите корректный email</span></div>
                </div>
                <div class="form-group">
                    <label for="task-desc">Описание задачи</label>
                    <textarea required class="form-control taskdescedit" rows="7" data-ed="taskdescadd" id="task-desc" name="task-desc"></textarea>
                    <div class="ed-m-err" data-ed="ed-m-err-desc"><span>Описание задачи не может быть пустым</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-ed="submnewtask">Сохранить</button>
            </div>
            <div class="ed-loader" data-ed="ed-loader">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Подождите...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- old -->
<!--
<div class="modal fade" id="taskAddModal" tabindex="-1" role="dialog" aria-labelledby="taskAddModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskEditModalLabel">Добавить задачу</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="task-user">Пользователь</label>
                    <select class="form-control" id="task-user" name="task-user">
                        <? foreach ($variables['users'] as $user): ?>
                            <option value="<?=$user['id']?>"><?=$user['fio']?></option>
                        <? endforeach; ?>
                    </select>
                </div>
                <div class="form-group">
                    <label for="task-desc">Описание задачи</label>
                    <textarea class="form-control taskdescedit" rows="7" data-ed="taskdescadd" id="task-desc" name="task-desc"></textarea>
                    <div class="ed-m-err" data-ed="ed-m-err-desc"><span>Описание задачи не может быть пустым</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-ed="submnewtask">Сохранить</button>
            </div>
            <div class="ed-loader" data-ed="ed-loader">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Подождите...</span>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<script>
    <? if ($variables['isAdmin']): ?>
        window.isadmin = 1;
    <? else: ?>
        window.isadmin =0;
    <? endif; ?>
</script>